biopython
hydra-core
matplotlib
numpy
omegaconf
pandas
seaborn
scikit_learn
scipy
tqdm
tensorboard
setuptools
dimorphite_dl
torch
torch-scatter
torch-sparse
torch-cluster
torch-spline-conv
torch-geometric
platformdirs
